.button {
    -fx-text-fill: #ecf0f1;
    -fx-font-weight: bold;
    -fx-background-color: #1abc9c;
    -fx-effect: dropshadow(gaussian, #16a085, 2, 3, 2.5, 4);
    /*-fx-effect: dropshadow(three-pass-box, #263238, 3, 3.0, 2.0, 2.5);*/
    -fx-background-radius: 5;
}

.button:disabled {
  -fx-opacity: 0.45 ;
  -fx-background-color: #1abc9c;
  -fx-effect: none;
}